<html>
   <head>
      <title>Warrant Auth Server</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <!-- Custom CSS -->
      <link rel="stylesheet" href="css/custom.css">
   </head>
   
   <body>
      <div class="custom-container">
         <div class="card shadow bg-white rounded">
            <div class="card-header">
               Warrant Auth Server
             </div>
             <div class="card-body">
             </div>
         </div>
      </div>
   </body>
</html>